<html>
    <head>
        <title>Game Canvas</title>
    </head>
    <body>
        <canvas width="600" height="400" id="game_canvas"></canvas>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
        </script>
        <script src="/js/game.js"></script>
        
    </body>
</html>


